/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(196, 42, 15);
    color: #333;
}

header {
    .profile-container {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    
    .profile-image {
        width: 150px; /* Resmin genişliği */
        height: 150px; /* Resmin yüksekliği */
        border-radius: 50%; /* Yuvarlak köşeler için */
        margin-right: 20px; /* Resim ile metin arası boşluk */
    }
    
    .profile-text {
        max-width: 600px; /* Metin alanı genişliği */
    }
    
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label,
input,
textarea {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}